{{ define "main" }}

<h1>{{ .Title }}</h1>

<div>
    {{ with .Params.author }}
        {{ $author_type := (printf "%T" .) }}
        {{ $author_is_list := (eq "[]string" $author_type) }}
        {{ if $author_is_list }}
            {{ $num := len . }}
            {{ if gt $num 0 }}
                <span class="author">&mdash;
                    {{ range $c, $v := . }}
                        {{ . -}}{{- if (lt $c (sub $num 1)) -}}, {{ end }}
                    {{ end }}
                </span>
            {{ end }}
        {{ else }}
            <span class="author">&mdash;{{ . }}</span>
        {{ end }}
    {{ end }}

    {{ partial "date-maybe.html" . }}
    <div class="clear-float"></div>
    {{ if (ne (dateFormat $.Site.Params.dateform .Date) (dateFormat $.Site.Params.dateform .Lastmod)) }}
        <span class="post-date"><small>Last modified on {{ dateFormat $.Site.Params.dateform .Lastmod }}</small></span>
    {{ end }}
    <div class="clear-float"></div>
</div>

<div class="post">
    {{ partial "headline-hash.html" .Content }}
</div>

{{ end }}
