{{/* This shortcode prints a hyperlink to the page matched the title(+anchor)
     string passed as the first argument. The second argument is optional
     and if present, that is used as the link description text.

     Examples::
       {{< titleref "PAGE TITLE" >}}
       {{< titleref "PAGE TITLE#anchor" >}}
       {{< titleref "PAGE TITLE" "LINK DESCRIPTION" >}}
       {{< titleref "PAGE TITLE#anchor" "LINK DESCRIPTION" >}}
*/}}
{{- $title_anchor := (.Get 0) -}}
{{- $title := trim (index (split $title_anchor "#") 0) " " -}}
{{- $anchor := trim (index (split $title_anchor "#") 1) " " -}}
{{- $desc := (.Get 1) | markdownify -}}
{{- $filtered := where site.RegularPages "Title" $title -}}
{{- $first_match := index $filtered 0 -}}
{{/* partial "debugprint" $first_match */}}
{{- with $first_match -}}
    {{- if $anchor -}}
        {{- $anchor = printf `#%s` $anchor -}}
    {{- end -}}
    {{- $anchor = $anchor | default "" -}}
    {{- $desc = $desc | default .Title -}}
    {{- (printf `<a href="%s%s">%s</a>` .RelPermalink $anchor $desc) | safeHTML -}}
{{- else -}}
    {{- (errorf `%s: Page titled "%s" not found` .Position $title) -}}
{{- end -}}
